@model MvcCV.Models.Sınıf.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>SKILL</th>
            <th>DELETE</th>
            <th>UPDATE</th>
            <th>DELETE BUTTON</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Deger4)
        {
            <tr>
                <th>@x.ID</th>
                <td>@x.SKILL</td>
                <td><a href="/Skills/DeleteSkill/@x.ID" class="btn btn-danger">Delete</a></td>
                <td><a href="/Skills/BringSkill/@x.ID" class="btn btn-success">Update</a></td>
                <td>@Html.ActionLink("Delete Button", "DeleteSkill", new { id=x.ID}, new { @class="btn btn-warning",onclick="return confirm('Do you want to delete now?')"})</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Skills/NewSkill/" class="btn btn-info">Add New Skill</a>

