@model MvcCV.Models.Sınıf.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>INTERESTS</th>
            <th>DELETE</th>
            <th>UPDATE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Deger5)
        {
            <tr>
                <th>@x.ID</th>
                <td>@x.INTEREST</td>
                <td>@Html.ActionLink("Delete", "DeleteInterest", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete now?')" })</td>
                <td><a href="Interests/UpdateInterest/@x.ID" class="btn btn-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Interests/NewInterest/" class="btn btn-info">Add New Interest</a>

