
@{
    ViewBag.Title = "NewEducation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>School</label>
        <input type="text" class="form-control" name="TITLE" />
    </div>
    <br />
    <div>
        <label>Faculty</label>
        <input type="text" class="form-control" name="SUBTITLE" />
    </div>
    <br />
    <div>
        <label>Department</label>
        <input type="text" class="form-control" name="DEPARTMENT" />
    </div>
    <br />
    <div>
        <label>GPA</label>
        <input type="text" class="form-control" name="GPA" />
    </div>
    <br />
    <button class="btn btn-secondary">Save All</button>
</form>

