
@{
    ViewBag.Title = "NewExperience";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group">
    <div>
        <label>Experience Title</label>
        <input type="text" class="form-control" />
    </div>
    <br />
    <div>
        <label>Experience Subtitle</label>
        <input type="text" class="form-control" />
    </div>
    <br />
    <div>
        <label>Date</label>
        <input type="text" class="form-control" />
    </div>
    <br />
    <div>
        <label>Details</label>
        <input type="text" class="form-control" />
    </div>
    <br />
    <button class="btn btn-secondary">Save All</button>
</form>

