@model MvcCV.Models.Sınıf.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Certificates</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Deger6)
        {
            <tr>
                <th>@x.ID</th>
                <td>@x.AWARD</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Certificates/NewCertificate/" class="btn btn-info">Add New Certificate</a>

