@using MvcCV.Models.Entity
@model List<TBLAWARDS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using(Html.BeginForm("Index", "Certificates", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("p")
        <input type="submit" value="Search" />  
    </p>

}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Certificates</th>
            <th>DELETE</th>
            <th>UPDATE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <th>@x.ID</th>
            <td>@x.AWARD</td>
            <td>@Html.ActionLink("Delete", "DeleteCertificate", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete now?')" })</td>
            <td><a href="Certificates/UpdateCertificate/@x.ID" class="btn btn-success">Update</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Certificates/NewCertificate/" class="btn btn-info">Add New Certificate</a>

